<div class="row" style="margin-bottom:15px;">
  <div class="col-6">
    <label>Image of news</label>
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" />
    <button type="button" class="btn border w-100" (click)="file.click()">Upload image</button>
  </div>
  <div class="col-6">
    <label>Image upload message</label><br />
    <div class="border rounded">
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
      <span class="upload text-danger" *ngIf="!message">
        No image uploaded. Please upload image
      </span>
    </div>
  </div>
</div>
