<body>
  <div class="container">
    <app-nav-home></app-nav-home>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
    <footer class="border-top footer text-muted mb-5 mt-5">
      <div class="container">
        <div class="row mt-5 mb-5 p-4">
          <div class="col-4">
            <h5 class="text-center">Join us</h5>
            <div class="text-center">
              Careers
            </div>
          </div>
          <div class="col-4">
            <h5 class="text-center">About us</h5>
            <div class="text-center">
              News and property
            </div>
          </div>
          <div class="col-4">
            <h5 class="text-center">Find us</h5>
            <div class="text-center">
              Contact Us<br />
              Support Service
            </div>
            <h5 class="text-center">Planets</h5>
            <div class="text-center">
              Earth - Almaty<br />
              Mars -
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
