<div class="container">
  <div class="row">
    <form [formGroup]="residentialComplexForm" (ngSubmit)="onSubmit(residentialComplexForm)">
      <div class="form-group">
        <label for="ResidentialComplexName">Residential complex</label>
        <input formControlName="residentialComplexName" class="form-control" />
      </div>
      <div class="form-group mt-5">
        <h5>Address</h5>
        <hr />
        <div class="row">
          <div class="col-6">
            <label for="AddressStreet">Street</label>
            <input formControlName="addressStreet" class="form-control" />
          </div>
          <div class="col-6">
            <label for="AddressNumber">Number</label>
            <input formontrolName="addressNumber" class="form-control" />
          </div>
        </div>
      </div>
      <div class="form-group mt-5">
        <button class="btn btn-primary w-100" type="submit">Create residential complex</button>
      </div>
    </form>
  </div>
</div>
