<div class="container">
  <div class="row">
    <form [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit(userRegistrationForm)">
      <div class="form-group required">
        <label>Username</label>
        <input formControlName="UserName" class="form-control" />
      </div>
      <div class="form-group required">
        <label>Email</label>
        <input formControlName="Email" class="form-control" />
      </div>
      <div class="form-group required">
        <label>First name</label>
        <input formControlName="FirstName" class="form-control" />
      </div>
      <div class="form-group required">
        <label>Last name</label>
        <input formControlName="LastName" class="form-control" />
      </div>
      <div>
        <div class="form-group required">
          <label>Password</label>
          <input formControlName="Password" class="form-control" />
        </div>
        <div class="form-group required">
          <label>Confirm password</label>
          <input formControlName="ConfirmPassword" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
</div>
