<div class="container">
  <div class="row mt-5 p-5 border-row">
    <div class="col-6">
      <div class="container pt-5">
        <h3 class="text-decoration-underline" style="font-size:32px">Empowering You to Find Your Perfect Home</h3>
        <div class="mt-5" style="margin-bottom:10px;">Find your ideal real estate property with ease, using our comprehensive and user-friendly search tools. Let's go ...</div>
        <a class="btn w-25 btn-color" style="border-color:#badc82">Let's go</a>
      </div>
    </div>
    <div class="col-6">
      <div style="width:600px;">
        <img src="assets/images/home.png" style="aspect-ratio:3/2; object-fit:contain; width:500px;" class="rounded" />
      </div>
    </div>
  </div>
  <div class="row p-5 border-left border-right mt-5">
    <div class="col-6">
      <div class="container pt-5">
        <h4 class="text-center">Get home recommendations</h4>
        <div class="text-center">Sign in for a more personalized experience</div>
        <div class="text-center mt-4"><a class="btn btn-row">Sign in</a></div>
      </div>
    </div>
    <div class="col-6">
      <div style="width:600px;">
        <img src="assets/images/homeSignIn.png" style="aspect-ratio:3/2; object-fit:contain; width:500px" class="rounded" />
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5 border-row-rounded">
    <div class="col-4">
      <div class="container p-5">
        <h4 class="text-center">Buy a home</h4>
        <div class="text-center">Discover a place you'll love to live</div>
        <div class="text-center mt-4"><a class="btn btn-row">Buy a home</a></div>
      </div>
    </div>
    <div class="col-4 border-left border-right">
      <div class="container p-5">
        <h4 class="text-center">Sell a home</h4>
        <div class="text-center">Sell for more than the home next door</div>
        <div class="text-center mt-4"><a class="btn btn-row">Sell a home</a></div>
      </div>
    </div>
    <div class="col-4">
      <div class="container p-5">
        <h4 class="text-center">Rent a home</h4>
        <div class="text-center">Find your perfect rental on PropertyDimash</div>
        <div class="text-center mt-4"><a class="btn btn-row">Rent a home</a></div>
      </div>
    </div>
  </div>
</div>
