<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="">Type</label>
        <select class="form-control" [(ngModel)]="type">
          <option value="">Select type</option>
          <option value="Sell">Sell</option>
          <option value="Rent out">Rent out</option>
          <option value="Rent">Rent</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="">Property type</label>
        <select class="form-control" [(ngModel)]="propertyType">
          <option value="">Select property type</option>
          <option value="Flat">Flat</option>
          <option value="House">House</option>
          <option value="CommercialProperty">Commercial property</option>
        </select>
      </div>
    </div>
    <div class="mt-5">
      <div class="form-group">
        <label class="rounded text-center w-100 mb-5 text pt-5 pb-5"*ngIf="error">Please enter type and property type</label>
        <button type="button" class="btn btn-primary w-100" (click)="create()">Let's go</button>
      </div>
    </div>
  </div>
</div>
